<table v-if="charclass=='nil'" class="u-full-width">
    <thead>
        <tr>
            <th>Char</th>
            <th>Class</th>
            <th>HP</th>
            <th>Min Atk</th>
            <th>Max Atk</th>
            <th>C.R</th>
            <th>C.Dmg</th>
            <th>Atk Spd</th>
            <th>Acc</th>
            <th>Pen</th>
            <th>Def</th>
            <th>Eva</th>
            <th>Dmg Reduc</th>
            <th>C.Resist</th>
            <th>SA</th>
            <th>DmgMob</th>
            <th>DmgBoss</th>
            <th>Ele</th>
            <th>E.Dmg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{charname}}</td>
            <td>Haru</td>
            <td>{{harustat.hp}}</td>
            <td>{{harustat.minatk}}</td>
            <td>{{harustat.maxatk}}</td>
            <td>{{critrate}}</td>
            <td>{{harustat.cdmg}}</td>
            <td>{{atkspd}}</td>
            <td>{{harustat.acc}}</td>
            <td>{{pen}}</td>
            <td>{{harustat.def}}</td>
            <td>{{harustat.eva}}</td>
            <td>{{dmgred}}</td>
            <td>{{critres}}</td>
            <td>{{sa}}</td>
            <td>{{dmgmob}}</td>
            <td>{{dmgboss}}</td>
            <td>{{elew}}</td>
            <td>{{eledmg}}</td>
        </tr>
    </tbody>
</table>
<table v-if="charclass=='nil'" class="u-full-width">
    <thead>
        <tr>
            <th>Char</th>
            <th>Class</th>
            <th>HP</th>
            <th>Min Atk</th>
            <th>Max Atk</th>
            <th>C.R</th>
            <th>C.Dmg</th>
            <th>Atk Spd</th>
            <th>Acc</th>
            <th>Pen</th>
            <th>Def</th>
            <th>Eva</th>
            <th>Dmg Reduc</th>
            <th>C.Resist</th>
            <th>SA</th>
            <th>DmgMob</th>
            <th>DmgBoss</th>
            <th>Ele</th>
            <th>E.Dmg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{charname}}</td>
            <td>Erwin</td>
            <td>{{erwinstat.hp}}</td>
            <td>{{erwinstat.minatk}}</td>
            <td>{{erwinstat.maxatk}}</td>
            <td>0</td>
            <td>{{erwinstat.cdmg}}</td>
            <td>100</td>
            <td>{{erwinstat.acc}}</td>
            <td>0</td>
            <td>{{erwinstat.def}}</td>
            <td>{{erwinstat.eva}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>Healing</td>
            <td>0</td>
        </tr>
    </tbody>
</table>
<table v-if="charclass=='nil'" class="u-full-width">
    <thead>
        <tr>
            <th>Char</th>
            <th>Class</th>
            <th>HP</th>
            <th>Min Atk</th>
            <th>Max Atk</th>
            <th>C.R</th>
            <th>C.Dmg</th>
            <th>Atk Spd</th>
            <th>Acc</th>
            <th>Pen</th>
            <th>Def</th>
            <th>Eva</th>
            <th>Dmg Reduc</th>
            <th>C.Resist</th>
            <th>SA</th>
            <th>DmgMob</th>
            <th>DmgBoss</th>
            <th>Ele</th>
            <th>E.Dmg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{charname}}</td>
            <td>Lily</td>
            <td>{{lilystat.hp}}</td>
            <td>{{lilystat.minatk}}</td>
            <td>{{lilystat.maxatk}}</td>
            <td>0</td>
            <td>{{lilystat.cdmg}}</td>
            <td>100</td>
            <td>{{lilystat.acc}}</td>
            <td>0</td>
            <td>{{lilystat.def}}</td>
            <td>{{lilystat.eva}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>Healing</td>
            <td>0</td>
        </tr>
    </tbody>
</table>
<table v-if="charclass=='nil'" class="u-full-width">
    <thead>
        <tr>
            <th>Char</th>
            <th>Class</th>
            <th>HP</th>
            <th>Min Atk</th>
            <th>Max Atk</th>
            <th>C.R</th>
            <th>C.Dmg</th>
            <th>Atk Spd</th>
            <th>Acc</th>
            <th>Pen</th>
            <th>Def</th>
            <th>Eva</th>
            <th>Dmg Reduc</th>
            <th>C.Resist</th>
            <th>SA</th>
            <th>DmgMob</th>
            <th>DmgBoss</th>
            <th>Ele</th>
            <th>E.Dmg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{charname}}</td>
            <td>Stella</td>
            <td>{{stellastat.hp}}</td>
            <td>{{stellastat.minatk}}</td>
            <td>{{stellastat.maxatk}}</td>
            <td>0</td>
            <td>{{stellastat.cdmg}}</td>
            <td>100</td>
            <td>{{stellastat.acc}}</td>
            <td>0</td>
            <td>{{stellastat.def}}</td>
            <td>{{stellastat.eva}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>Healing</td>
            <td>0</td>
        </tr>
    </tbody>
</table>
<table v-if="charclass=='nil'" class="u-full-width">
    <thead>
        <tr>
            <th>Char</th>
            <th>Class</th>
            <th>HP</th>
            <th>Min Atk</th>
            <th>Max Atk</th>
            <th>C.R</th>
            <th>C.Dmg</th>
            <th>Atk Spd</th>
            <th>Acc</th>
            <th>Pen</th>
            <th>Def</th>
            <th>Eva</th>
            <th>Dmg Reduc</th>
            <th>C.Resist</th>
            <th>SA</th>
            <th>DmgMob</th>
            <th>DmgBoss</th>
            <th>Ele</th>
            <th>E.Dmg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{charname}}</td>
            <td>Jin</td>
            <td>{{jinstat.hp}}</td>
            <td>{{jinstat.minatk}}</td>
            <td>{{jinstat.maxatk}}</td>
            <td>0</td>
            <td>{{jinstat.cdmg}}</td>
            <td>100</td>
            <td>{{jinstat.acc}}</td>
            <td>0</td>
            <td>{{jinstat.def}}</td>
            <td>{{jinstat.eva}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>Healing</td>
            <td>0</td>
        </tr>
    </tbody>
</table>
<table v-if="charclass=='nil'" class="u-full-width">
    <thead>
        <tr>
            <th>Char</th>
            <th>Class</th>
            <th>HP</th>
            <th>Min Atk</th>
            <th>Max Atk</th>
            <th>C.R</th>
            <th>C.Dmg</th>
            <th>Atk Spd</th>
            <th>Acc</th>
            <th>Pen</th>
            <th>Def</th>
            <th>Eva</th>
            <th>Dmg Reduc</th>
            <th>C.Resist</th>
            <th>SA</th>
            <th>DmgMob</th>
            <th>DmgBoss</th>
            <th>Ele</th>
            <th>E.Dmg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{charname}}</td>
            <td>Iris</td>
            <td>{{irisstat.hp}}</td>
            <td>{{irisstat.minatk}}</td>
            <td>{{irisstat.maxatk}}</td>
            <td>0</td>
            <td>{{irisstat.cdmg}}</td>
            <td>100</td>
            <td>{{irisstat.acc}}</td>
            <td>0</td>
            <td>{{irisstat.def}}</td>
            <td>{{irisstat.eva}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>Healing</td>
            <td>0</td>
        </tr>
    </tbody>
</table>

<!--
    BSK
        Head
        Mega Attack +5%
        Giga Attack +8%
        Tera Attack +11%

        Top
        Mega Critical Rate +3%
        Giga Critical Rate +4%
        Tera Critical Rate +5%

        Bottom
        Mega Super Armor Break +8%
        Giga Super Armor Break +12%
        Tera Super Armor Break +16%

        Hand
        Mega Attack Speed +3% / Movement Speed +3%
        Giga Attack Speed +5% / Movement Speed +4%
        Tera Attack Speed +6% / Movement Speed +6%

        Shoe
        Mega Critical Damage +1000
        Giga Critical Damage +1350
        Tera Critical Damage +1700

    SD
        Head
        Bit  Attack +1% / Evaded Attack Damage 1% 
        Kilo Attack +2% / Evaded Attack Damage 2% 
        Mega Attack +3% / Evaded Attack Damage 3%
        Giga Attack +4% / Evaded Attack Damage 4% / Penetration +1%
        Tera Attack +5% / Evaded Attack Damage 5% / Penetration +2% 

        Top
        Bit  Defense +5% / HP +4%
        Kilo Defense +10% / HP +8%
        Mega Defense +15% / HP +12%
        Giga Defense +20% / HP +16%
        Tera Defense +25% / HP +20%

        Bottom
        Bit  Evasion +10 / Critical Resistance +1%
        Kilo Evasion +20 / Critical Resistance +2%
        Mega Evasion +30 / Critical Resistance +3%
        Giga Evasion +40 / Critical Resistance +4% / Damage Reduction +4%
        Tera Evasion +50 / Critical Resistance +5% / Damage Reduction +5%

        Hand
        Bit  Max Stamina +5 / Attack Speed +1%
        Kilo Max Stamina +8 / Attack Speed +2%
        Mega Max Stamina +11 / Attack Speed +3%
        Giga Max Stamina +14 / Attack Speed +4% / Movement Speed +3%
        Tera Max Stamina +17 / Attack Speed +5% / Movement Speed +4%

        Shoe
        Bit Accuracy +10 / Critical Damage +600
        Kilo Accuracy +20 / Critical Damage +700
        Mega Accuracy +30 / Critical Damage +800
        Giga Accuracy +40 / Critical Damage +900 / Critical Rate +1%
        Tera Accuracy +50 / Critical Damage +1000 / Critical Rate +2%
-->