<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Members stats</title>
    <meta name="description" content="Stats for each members of Miracle">
    <meta name="author" content="sagiri">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Vue JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://unpkg.com/vue"></script>

    <style>
        .ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        .li {
            float: left;
        }
        
        .li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        /* Change the link color to #111 (black) on hover */
        
        .li a:hover {
            background-color: #111;
        }
        
        .active {
            background-color: #4CAF50;
        }
    </style>

</head>

<body>
    <div class="nav-bar">
        <ul class="ul">
            <li class="li active"><a href="index.html">Update</a></li>
            <li class="li"><a href="list.php">List</a></li>
        </ul>
    </div>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" id="app">
        <div class="row">
            <div class="six columns" style="margin-top:5%">
                <h4>Stats update</h4>
                <p>Input the stats of your best gears for primal runs</p>
            </div>
        </div>
        <form>
            <ol>
                <li>
                    <!-- Basic info -->
                    <div class="row">
                        <div class="one-third column">
                            <label for="disname">Discord name</label>
                            <input class="u-full-width" type="text" placeholder="Discord name" id="disname">
                        </div>
                        <div class="one-third column">
                            <label for="charname">Character name</label>
                            <input v-model="charname" class="u-full-width" type="text" placeholder="Name" id="charname">
                        </div>
                        <div class="one-third column">
                            <label for="charclass">Class</label>
                            <select v-model="charclass" class="u-full-width" id="charclass">
                                <option value="Haru">Haru</option>
                                <option value="Erwin">Erwin</option>
                                <option value="Lily">Lily</option>
                                <option value="Stella">Stella</option>
                                <option value="Jin">Jin</option>
                                <option value="Iris">Iris</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- Gear info -->
                    <div class="row">
                        <div class="six columns">
                            <label for="weapon">Weapon</label>
                            <select style="width:50%" id="weapon">
                                <option value="Devourer">Devourer</option>
                                <option value="Aurite">Aurite</option>
                                <option value="Others">Others</option>
                            </select>
                            <select style="width:15%" id="weapon_en">
                                <option value="+0">+0</option>
                                <option value="+1">+1</option>
                                <option value="+2">+2</option>
                                <option value="+3">+3</option>
                                <option value="+4">+4</option>
                                <option value="+5">+5</option>
                                <option value="+6">+6</option>
                                <option value="+7">+7</option>
                                <option value="+8">+8</option>
                                <option value="+9">+9</option>
                            </select>
                            <input placeholder="0-100%" min="0" max="100" type="number" style="width:30%" id="weapon_gd">
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="weapon_1">
                                    <option v-for="item in weaponL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="weapon_1_val">
                                <select style="width:70%" id="weapon_2">
                                    <option v-for="item in weaponL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="weapon_2_val">
                                <select style="width:70%" id="weapon_3">
                                    <option v-for="item in weaponL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="weapon_3_val">
                                <select style="width:70%" id="weapon_4">
                                    <option v-for="item in weaponL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="weapon_4_val">
                            </div>
                        </div>
                        <div class="six columns">
                            <label for="head">Head</label>
                            <select style="width:50%" id="head">
                                <option value="Devourer">Devourer</option>
                                <option value="Aurite">Aurite</option>
                                <option value="Others">Others</option>
                            </select>
                            <select style="width:15%" id="head_en">
                                <option value="+0">+0</option>
                                <option value="+1">+1</option>
                                <option value="+2">+2</option>
                                <option value="+3">+3</option>
                                <option value="+4">+4</option>
                                <option value="+5">+5</option>
                                <option value="+6">+6</option>
                                <option value="+7">+7</option>
                                <option value="+8">+8</option>
                                <option value="+9">+9</option>
                            </select>
                            <input placeholder="0-100%" min="0" max="100" type="number" style="width:30%" id="head_gd">
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="head_1">
                                    <option v-for="item in headL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="head_1_val">
                                <select style="width:70%" id="head_2">
                                    <option v-for="item in headL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="head_2_val">
                                <select style="width:70%" id="head_3">
                                    <option v-for="item in headL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="head_3_val">
                                <select style="width:70%" id="head_4">
                                    <option v-for="item in headL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="head_4_val">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label for="shoulder">Shoulder</label>
                            <select style="width:50%" id="shoulder">
                                <option value="Devourer">Devourer</option>
                                <option value="Aurite">Aurite</option>
                                <option value="Others">Others</option>
                            </select>
                            <select style="width:15%" id="shoulder_en">
                                <option value="+0">+0</option>
                                <option value="+1">+1</option>
                                <option value="+2">+2</option>
                                <option value="+3">+3</option>
                                <option value="+4">+4</option>
                                <option value="+5">+5</option>
                                <option value="+6">+6</option>
                                <option value="+7">+7</option>
                                <option value="+8">+8</option>
                                <option value="+9">+9</option>
                            </select>
                            <input placeholder="0-100%" min="0" max="100" type="number" style="width:30%" id="shoulder_gd">
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="shoulder_1">
                                    <option v-for="item in shoulderL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="shoulder_1_val">
                                <select style="width:70%" id="shoulder_2">
                                    <option v-for="item in shoulderL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="shoulder_2_val">
                                <select style="width:70%" id="shoulder_3">
                                    <option v-for="item in shoulderL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="shoulder_3_val">
                                <select style="width:70%" id="shoulder_4">
                                    <option v-for="item in shoulderL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="shoulder_4_val">
                            </div>
                        </div>
                        <div class="six columns">
                            <label for="body">Body</label>
                            <select style="width:50%" id="body">
                                <option value="Devourer">Devourer</option>
                                <option value="Aurite">Aurite</option>
                                <option value="Others">Others</option>
                            </select>
                            <select style="width:15%" id="body_en">
                                <option value="+0">+0</option>
                                <option value="+1">+1</option>
                                <option value="+2">+2</option>
                                <option value="+3">+3</option>
                                <option value="+4">+4</option>
                                <option value="+5">+5</option>
                                <option value="+6">+6</option>
                                <option value="+7">+7</option>
                                <option value="+8">+8</option>
                                <option value="+9">+9</option>
                            </select>
                            <input placeholder="0-100%" min="0" max="100" type="number" style="width:30%" id="body_gd">
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="body_1">
                                    <option v-for="item in bodyL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="body_1_val">
                                <select style="width:70%" id="body_2">
                                    <option v-for="item in bodyL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="body_2_val">
                                <select style="width:70%" id="body_3">
                                    <option v-for="item in bodyL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="body_3_val">
                                <select style="width:70%" id="body_4">
                                    <option v-for="item in bodyL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="body_4_val">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label for="feet">Feet</label>
                            <select style="width:50%" id="feet">
                                <option value="Devourer">Devourer</option>
                                <option value="Aurite">Aurite</option>
                                <option value="Others">Others</option>
                            </select>
                            <select style="width:15%" id="feet_en">
                                <option value="+0">+0</option>
                                <option value="+1">+1</option>
                                <option value="+2">+2</option>
                                <option value="+3">+3</option>
                                <option value="+4">+4</option>
                                <option value="+5">+5</option>
                                <option value="+6">+6</option>
                                <option value="+7">+7</option>
                                <option value="+8">+8</option>
                                <option value="+9">+9</option>
                            </select>
                            <input placeholder="0-100%" min="0" max="100" type="number" style="width:30%" id="feet_gd">
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="feet_1">
                                    <option v-for="item in feetL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="feet_1_val">
                                <select style="width:70%" id="feet_2">
                                    <option v-for="item in feetL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="feet_2_val">
                                <select style="width:70%" id="feet_3">
                                    <option v-for="item in feetL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="feet_3_val">
                                <select style="width:70%" id="feet_4">
                                    <option v-for="item in feetL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="feet_4_val">
                            </div>
                        </div>
                        <div class="six columns">
                            <label for="ear">Earrings</label>
                            <select style="width:100%" id="ear">
                                <option value="Devourer">Devourer</option>
                                <option value="Aurite">Aurite</option>
                                <option value="Shion">Shion</option>
                                <option value="Others">Others</option>
                            </select>
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="ear_1">
                                    <option v-for="item in earL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ear_1_val">
                                <select style="width:70%" id="ear_2">
                                    <option v-for="item in earL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ear_2_val">
                                <select style="width:70%" id="ear_3">
                                    <option v-for="item in earL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ear_3_val">
                                <select style="width:70%" id="ear_4">
                                    <option v-for="item in earL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ear_4_val">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label for="pen">Pendant</label>
                            <select style="width:100%" id="pen">
                                <option value="Devourer">Devourer</option>
                                <option value="Aurite">Aurite</option>
                                <option value="Shion">Shion</option>
                                <option value="Others">Others</option>
                            </select>
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="pen_1">
                                    <option v-for="item in penL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="pen_1_val">
                                <select style="width:70%" id="pen_2">
                                    <option v-for="item in penL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="pen_2_val">
                                <select style="width:70%" id="pen_3">
                                    <option v-for="item in penL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="pen_3_val">
                                <select style="width:70%" id="pen_4">
                                    <option v-for="item in penL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="pen_4_val">
                            </div>
                        </div>
                        <div class="six columns">
                            <label for="ring1">Ring 1</label>
                            <select style="width:100%" id="ring1">
                                <option value="Devourer">Devourer Seed</option>
                                <option value="Devourer2">Devourer Greed</option>
                                <option value="Aurite">Aurite Relic</option>
                                <option value="Aurite2">Aurite Seal</option>
                                <option value="Shion">Shion</option>
                                <option value="Others">Others</option>
                            </select>
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="ring1_1">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring1_1_val">
                                <select style="width:70%" id="ring1_2">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring1_2_val">
                                <select style="width:70%" id="ring1_3">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring1_3_val">
                                <select style="width:70%" id="ring1_4">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring1_4_val">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label for="ring2">Ring 2</label>
                            <select style="width:100%" id="ring2">
                                <option value="Devourer">Devourer Seed</option>
                                <option value="Devourer2">Devourer Greed</option>
                                <option value="Aurite">Aurite Relic</option>
                                <option value="Aurite2">Aurite Seal</option>
                                <option value="Shion">Shion</option>
                                <option value="Others">Others</option>
                            </select>
                            <div>
                                <label>Substats</label>
                                <select style="width:70%" id="ring2_1">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring2_1_val">
                                <select style="width:70%" id="ring2_2">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring2_2_val">
                                <select style="width:70%" id="ring2_3">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring2_3_val">
                                <select style="width:70%" id="ring2_4">
                                    <option v-for="item in ringL">{{ item }}</option>
                                </select>
                                <input placeholder="value" type="number" style="width:20%" id="ring2_4_val">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- SS info -->
                    <div class="row">
                        <div class="six columns">
                            <label>Soulstone</label>
                            <label for="elew1">Weapon</label>
                            <select v-model="elew" style="width:50%" id="elew1">
                                <option value="-">-</option>
                                <option value="Healing">Healing</option>
                                <option value="Toxic">Toxic</option>
                                <option value="Serenity">Serenity</option>
                                <option value="Hatred">Hatred</option>
                                <option value="Brilliance">Brilliance</option>
                                <option value="Evil">Evil</option>
                            </select>
                            <select style="width:15%" id="elew1tier">
                                <option value="-">-</option>
                                <option value="T1">T1</option>
                                <option value="T2">T2</option>
                                <option value="T3">T3</option>
                                <option value="T4">T4</option>
                                <option value="T5">T5</option>
                                <option value="T6">T6</option>
                                <option value="T7">T7</option>
                                <option value="T8">T8</option>
                                <option value="T9">T9</option>
                            </select>

                            <select v-model="elew" style="width:50%" id="elew2">
                                <option value="-">-</option>
                                <option value="Healing">Healing</option>
                                <option value="Toxic">Toxic</option>
                                <option value="Serenity">Serenity</option>
                                <option value="Hatred">Hatred</option>
                                <option value="Brilliance">Brilliance</option>
                                <option value="Evil">Evil</option>
                            </select>
                            <select style="width:15%" id="elew2tier">
                                <option value="-">-</option>
                                <option value="T1">T1</option>
                                <option value="T2">T2</option>
                                <option value="T3">T3</option>
                                <option value="T4">T4</option>
                                <option value="T5">T5</option>
                                <option value="T6">T6</option>
                                <option value="T7">T7</option>
                                <option value="T8">T8</option>
                                <option value="T9">T9</option>
                            </select>

                            <select style="width:70%" id="famw1">
                                <option value="-">-</option>
                                <option value="critdmg">Critical Damage</option>
                            </select>
                            <input placeholder="value" type="number" style="width:20%" id="famw1v">

                            <select style="width:70%" id="famw2">
                                <option value="-">-</option>
                                <option value="critdmg">Critical Damage</option>
                            </select>
                            <input placeholder="value" type="number" style="width:20%" id="famw2v">
                        </div>
                        <div class="six columns">
                            <label><br></label>
                            <label for="elew1">Armor</label>
                            <div v-for="i in lists">
                                <select style="width:50%" v-bind:id="'elea'+i">
                                    <option value="-">-</option>
                                    <option value="Healing">Healing</option>
                                    <option value="Toxic">Toxic</option>
                                    <option value="Serenity">Serenity</option>
                                    <option value="Hatred">Hatred</option>
                                    <option value="Brilliance">Brilliance</option>
                                    <option value="Evil">Evil</option>
                                </select>
                                <select style="width:15%" v-bind:id="'elea'+i+'tier'">
                                    <option value="-">-</option>
                                    <option value="T1">T1</option>
                                    <option value="T2">T2</option>
                                    <option value="T3">T3</option>
                                    <option value="T4">T4</option>
                                    <option value="T5">T5</option>
                                    <option value="T6">T6</option>
                                    <option value="T7">T7</option>
                                    <option value="T8">T8</option>
                                    <option value="T9">T9</option>
                                </select>
                                <input placeholder="count" type="number" style="width:20%" v-bind:id="'elea'+i+'c'">
                            </div>

                        </div>
                    </div>
                </li>
            </ol>

            <input class="button-primary" type="submit" value="Submit">
        </form>

        <table v-if="charclass=='nil'" class="u-full-width">
            <thead>
                <tr>
                    <th>Char</th>
                    <th>Class</th>
                    <th>HP</th>
                    <th>Min Atk</th>
                    <th>Max Atk</th>
                    <th>C.R</th>
                    <th>C.Dmg</th>
                    <th>Atk Spd</th>
                    <th>Acc</th>
                    <th>Pen</th>
                    <th>Def</th>
                    <th>Eva</th>
                    <th>Dmg Reduc</th>
                    <th>C.Resist</th>
                    <th>SA</th>
                    <th>DmgMob</th>
                    <th>DmgBoss</th>
                    <th>Ele</th>
                    <th>E.Dmg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{charname}}</td>
                    <td>Haru</td>
                    <td>{{harustat.hp}}</td>
                    <td>{{harustat.minatk}}</td>
                    <td>{{harustat.maxatk}}</td>
                    <td>{{critrate}}</td>
                    <td>{{harustat.cdmg}}</td>
                    <td>{{atkspd}}</td>
                    <td>{{harustat.acc}}</td>
                    <td>{{pen}}</td>
                    <td>{{harustat.def}}</td>
                    <td>{{harustat.eva}}</td>
                    <td>{{dmgred}}</td>
                    <td>{{critres}}</td>
                    <td>{{sa}}</td>
                    <td>{{dmgmob}}</td>
                    <td>{{dmgboss}}</td>
                    <td>{{elew}}</td>
                    <td>{{eledmg}}</td>
                </tr>
            </tbody>
        </table>
        <table v-if="charclass=='nil'" class="u-full-width">
            <thead>
                <tr>
                    <th>Char</th>
                    <th>Class</th>
                    <th>HP</th>
                    <th>Min Atk</th>
                    <th>Max Atk</th>
                    <th>C.R</th>
                    <th>C.Dmg</th>
                    <th>Atk Spd</th>
                    <th>Acc</th>
                    <th>Pen</th>
                    <th>Def</th>
                    <th>Eva</th>
                    <th>Dmg Reduc</th>
                    <th>C.Resist</th>
                    <th>SA</th>
                    <th>DmgMob</th>
                    <th>DmgBoss</th>
                    <th>Ele</th>
                    <th>E.Dmg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{charname}}</td>
                    <td>Erwin</td>
                    <td>{{erwinstat.hp}}</td>
                    <td>{{erwinstat.minatk}}</td>
                    <td>{{erwinstat.maxatk}}</td>
                    <td>0</td>
                    <td>{{erwinstat.cdmg}}</td>
                    <td>100</td>
                    <td>{{erwinstat.acc}}</td>
                    <td>0</td>
                    <td>{{erwinstat.def}}</td>
                    <td>{{erwinstat.eva}}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Healing</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <table v-if="charclass=='nil'" class="u-full-width">
            <thead>
                <tr>
                    <th>Char</th>
                    <th>Class</th>
                    <th>HP</th>
                    <th>Min Atk</th>
                    <th>Max Atk</th>
                    <th>C.R</th>
                    <th>C.Dmg</th>
                    <th>Atk Spd</th>
                    <th>Acc</th>
                    <th>Pen</th>
                    <th>Def</th>
                    <th>Eva</th>
                    <th>Dmg Reduc</th>
                    <th>C.Resist</th>
                    <th>SA</th>
                    <th>DmgMob</th>
                    <th>DmgBoss</th>
                    <th>Ele</th>
                    <th>E.Dmg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{charname}}</td>
                    <td>Lily</td>
                    <td>{{lilystat.hp}}</td>
                    <td>{{lilystat.minatk}}</td>
                    <td>{{lilystat.maxatk}}</td>
                    <td>0</td>
                    <td>{{lilystat.cdmg}}</td>
                    <td>100</td>
                    <td>{{lilystat.acc}}</td>
                    <td>0</td>
                    <td>{{lilystat.def}}</td>
                    <td>{{lilystat.eva}}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Healing</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <table v-if="charclass=='nil'" class="u-full-width">
            <thead>
                <tr>
                    <th>Char</th>
                    <th>Class</th>
                    <th>HP</th>
                    <th>Min Atk</th>
                    <th>Max Atk</th>
                    <th>C.R</th>
                    <th>C.Dmg</th>
                    <th>Atk Spd</th>
                    <th>Acc</th>
                    <th>Pen</th>
                    <th>Def</th>
                    <th>Eva</th>
                    <th>Dmg Reduc</th>
                    <th>C.Resist</th>
                    <th>SA</th>
                    <th>DmgMob</th>
                    <th>DmgBoss</th>
                    <th>Ele</th>
                    <th>E.Dmg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{charname}}</td>
                    <td>Stella</td>
                    <td>{{stellastat.hp}}</td>
                    <td>{{stellastat.minatk}}</td>
                    <td>{{stellastat.maxatk}}</td>
                    <td>0</td>
                    <td>{{stellastat.cdmg}}</td>
                    <td>100</td>
                    <td>{{stellastat.acc}}</td>
                    <td>0</td>
                    <td>{{stellastat.def}}</td>
                    <td>{{stellastat.eva}}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Healing</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <table v-if="charclass=='nil'" class="u-full-width">
            <thead>
                <tr>
                    <th>Char</th>
                    <th>Class</th>
                    <th>HP</th>
                    <th>Min Atk</th>
                    <th>Max Atk</th>
                    <th>C.R</th>
                    <th>C.Dmg</th>
                    <th>Atk Spd</th>
                    <th>Acc</th>
                    <th>Pen</th>
                    <th>Def</th>
                    <th>Eva</th>
                    <th>Dmg Reduc</th>
                    <th>C.Resist</th>
                    <th>SA</th>
                    <th>DmgMob</th>
                    <th>DmgBoss</th>
                    <th>Ele</th>
                    <th>E.Dmg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{charname}}</td>
                    <td>Jin</td>
                    <td>{{jinstat.hp}}</td>
                    <td>{{jinstat.minatk}}</td>
                    <td>{{jinstat.maxatk}}</td>
                    <td>0</td>
                    <td>{{jinstat.cdmg}}</td>
                    <td>100</td>
                    <td>{{jinstat.acc}}</td>
                    <td>0</td>
                    <td>{{jinstat.def}}</td>
                    <td>{{jinstat.eva}}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Healing</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <table v-if="charclass=='nil'" class="u-full-width">
            <thead>
                <tr>
                    <th>Char</th>
                    <th>Class</th>
                    <th>HP</th>
                    <th>Min Atk</th>
                    <th>Max Atk</th>
                    <th>C.R</th>
                    <th>C.Dmg</th>
                    <th>Atk Spd</th>
                    <th>Acc</th>
                    <th>Pen</th>
                    <th>Def</th>
                    <th>Eva</th>
                    <th>Dmg Reduc</th>
                    <th>C.Resist</th>
                    <th>SA</th>
                    <th>DmgMob</th>
                    <th>DmgBoss</th>
                    <th>Ele</th>
                    <th>E.Dmg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{charname}}</td>
                    <td>Iris</td>
                    <td>{{irisstat.hp}}</td>
                    <td>{{irisstat.minatk}}</td>
                    <td>{{irisstat.maxatk}}</td>
                    <td>0</td>
                    <td>{{irisstat.cdmg}}</td>
                    <td>100</td>
                    <td>{{irisstat.acc}}</td>
                    <td>0</td>
                    <td>{{irisstat.def}}</td>
                    <td>{{irisstat.eva}}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Healing</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>

        <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

        <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                charclass: 'Haru',
                charname: '',
                lists: [1, 2, 3, 4, 5, 6, 7, 8],
                critrate: 0,
                atkspd: 100,
                pen: 0,
                dmgred: 0,
                critres: 0,
                sa: 0,
                dmgmob: 0,
                dmgboss: 0,
                elew: '-',
                eledmg: 0,
                weaponL: ["-", "Accuracy",
                    "Attack",
                    "Attack Speed",
                    "Critical Damage",
                    "Critical Rate",
                    "Damage on Boss",
                    "Damage on Mobs",
                    "Penetration",
                    "SA Break",
                    "Soul Vapor Gain"
                ],
                headL: ["-", "Accuracy",
                    "Attack",
                    "CD Reduction",
                    "Critical Damage",
                    "Critical Rate*",
                    "Defense",
                    "Evaded Attack Damage",
                    "Evasion",
                    "EXP Gain",
                    "HP"
                ],
                shoulderL: ["-", "Accuracy",
                    "Attack",
                    "Attack Speed*",
                    "CD Reduction",
                    "Critical Damage",
                    "Defense",
                    "Evaded Attack Damage",
                    "Evasion",
                    "EXP Gain",
                    "HP"
                ],
                bodyL: ["-", "Accuracy",
                    "Attack",
                    "CD Reduction",
                    "Critical Damage",
                    "Defense",
                    "Evaded Attack Damage",
                    "Evasion",
                    "EXP Gain",
                    "HP",
                    "HP%*"
                ],
                feetL: ["-", "Accuracy",
                    "Attack",
                    "CD Reduction",
                    "Critical Damage",
                    "Defense",
                    "Evaded Attack Damage",
                    "Evasion",
                    "EXP Gain",
                    "HP",
                    "Move Speed*"
                ],
                earL: ["-", "Accuracy",
                    "Attack",
                    "Attack Speed",
                    "Critical Damage",
                    "Critical Rate",
                    "Damage Reduction from Boss",
                    "Defense",
                    "Evasion",
                    "EXP Gain",
                    "Max Stamina",
                    "Move Speed",
                    "On kill HP",
                    "SA Break",
                    "Soul Vapor Gain"
                ],
                penL: ["-", "Accuracy",
                    "Attack",
                    "Attack Speed",
                    "CD Reduction",
                    "Critical Damage",
                    "Critical Resistance",
                    "Damage Reduction",
                    "Damage Reduction from Boss",
                    "Defense",
                    "Evasion",
                    "EXP Gain",
                    "Max Stamina",
                    "On kill HP",
                    "SA Break"
                ],
                ringL: ["-", "Accuracy",
                    "Attack",
                    "Critical Damage",
                    "Critical Rate",
                    "Critical Resistance",
                    "Damage Reduction from Boss",
                    "Damage Reduction from Mob",
                    "Defense",
                    "Evasion"
                ],
                harustat: {
                    hp: 22750,
                    minatk: 1008,
                    maxatk: 1260,
                    cdmg: 1008,
                    acc: 972,
                    def: 345,
                    eva: 34,
                    samelvldef: 11.15
                },
                erwinstat: {
                    hp: 20000,
                    minatk: 1008,
                    maxatk: 1260,
                    cdmg: 1008,
                    acc: 1012,
                    def: 275,
                    eva: 37,
                    samelvldef: 9.09
                },
                lilystat: {
                    hp: 17350,
                    minatk: 1108,
                    maxatk: 1386,
                    cdmg: 1108,
                    acc: 886,
                    def: 240,
                    eva: 44,
                    samelvldef: 8.03
                },
                stellastat: {
                    hp: 17300,
                    minatk: 1108,
                    maxatk: 1386,
                    cdmg: 1108,
                    acc: 972,
                    def: 275,
                    eva: 37,
                    samelvldef: 9.09
                },
                jinstat: {
                    hp: 25450,
                    minatk: 907,
                    maxatk: 1134,
                    cdmg: 907,
                    acc: 920,
                    def: 515,
                    eva: 31,
                    samelvldef: 15.77
                },
                irisstat: {
                    hp: 14600,
                    minatk: 1209,
                    maxatk: 1512,
                    cdmg: 1209,
                    acc: 955,
                    def: 345,
                    eva: 31,
                    samelvldef: 11.15
                }
            }
        })
    </script>
</body>

</html>

<!--
    BSK
        Head
        Mega Attack +5%
        Giga Attack +8%
        Tera Attack +11%

        Top
        Mega Critical Rate +3%
        Giga Critical Rate +4%
        Tera Critical Rate +5%

        Bottom
        Mega Super Armor Break +8%
        Giga Super Armor Break +12%
        Tera Super Armor Break +16%

        Hand
        Mega Attack Speed +3% / Movement Speed +3%
        Giga Attack Speed +5% / Movement Speed +4%
        Tera Attack Speed +6% / Movement Speed +6%

        Shoe
        Mega Critical Damage +1000
        Giga Critical Damage +1350
        Tera Critical Damage +1700

    SD
        Head
        Bit  Attack +1% / Evaded Attack Damage 1% 
        Kilo Attack +2% / Evaded Attack Damage 2% 
        Mega Attack +3% / Evaded Attack Damage 3%
        Giga Attack +4% / Evaded Attack Damage 4% / Penetration +1%
        Tera Attack +5% / Evaded Attack Damage 5% / Penetration +2% 

        Top
        Bit  Defense +5% / HP +4%
        Kilo Defense +10% / HP +8%
        Mega Defense +15% / HP +12%
        Giga Defense +20% / HP +16%
        Tera Defense +25% / HP +20%

        Bottom
        Bit  Evasion +10 / Critical Resistance +1%
        Kilo Evasion +20 / Critical Resistance +2%
        Mega Evasion +30 / Critical Resistance +3%
        Giga Evasion +40 / Critical Resistance +4% / Damage Reduction +4%
        Tera Evasion +50 / Critical Resistance +5% / Damage Reduction +5%

        Hand
        Bit  Max Stamina +5 / Attack Speed +1%
        Kilo Max Stamina +8 / Attack Speed +2%
        Mega Max Stamina +11 / Attack Speed +3%
        Giga Max Stamina +14 / Attack Speed +4% / Movement Speed +3%
        Tera Max Stamina +17 / Attack Speed +5% / Movement Speed +4%

        Shoe
        Bit Accuracy +10 / Critical Damage +600
        Kilo Accuracy +20 / Critical Damage +700
        Mega Accuracy +30 / Critical Damage +800
        Giga Accuracy +40 / Critical Damage +900 / Critical Rate +1%
        Tera Accuracy +50 / Critical Damage +1000 / Critical Rate +2%
-->