<script src="https://unpkg.com/vue"></script>
<div id="app">
    This is in parent: {{ print }}
    <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post" @clicked="onClickChild"></blog-post>
</div>

<script>
    var post = Vue.component('blog-post', {
        props: ['post'],
        data: function () {
            return { c: 0 }
        },
        template: '<div><h4>Hero: {{ post.id }}</h4><h5>Total nodes activated: {{ c }}</h5>\
        <div v-for="(skill, skillno) in post.data" v-bind:key="skillno + post.id">\
        <h5>Skill: {{ skillno }}</h5>\
        <input type="checkbox" v-on:click="onClick(1 + skillno + post.id, skill[1])" value="skill[1]" v-bind:id="1 + skillno + post.id">1: data is {{ skill[1] }}<br>\
        <input type="checkbox" v-on:click="onClick(2 + skillno + post.id, skill[2])" value="skill[2]" v-bind:id="2 + skillno + post.id">2: data is {{ skill[2] }}\
        </div>\
        </div>',
        methods: {
            onClick: function(id, data) {
                if(document.getElementById(id).checked){
                    this.$emit('clicked', data)
                    return this.c++
                } else{
                    this.$emit('clicked', 0 - data)
                    return this.c--
                }
            }
        }
    })

    var skill = {
        "s1": {
            "1": 10,
            "2": 20
        },
        "s2": {
            "1": 15,
            "2": 25
        }
    }

    var skill2 = {
        "s1": {
            "1": 40,
            "2": 50
        },
        "s2": {
            "1": 45,
            "2": 55
        }
    }

    var app = new Vue({
        el: "#app",
        data: {
            print: 0,
            posts: [
                { id: 1, data: skill },
                { id: 2, data: skill2 }
            ]
        },
        components: { post: post },
        methods: {
            onClickChild: function(data) {
                this.print = Number(this.print) + Number(data)
            }
        }
    })
</script>