<script src="https://unpkg.com/vue"></script>
<div id="app">
    For hero: <input v-model="hero" type="number" v-on:change="reset"><br>
    atk: {{ atk }} <br>
    cdmg: {{ cdmg }} <br>
    fa: {{ fa }}
    <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post" v-bind:hero="hero" @clicked="onClickChild" @selected="onSelect" @selectedt5="onSelectT5"></blog-post>
</div>

<script>
    if(window.location.hash) {
        // Fragment exists
        var hash = window.location.hash.substr(1)
    } else {
        // Fragment doesn't exist
        var hash = 0
    }

    var post = Vue.component('blog-post', {
        props: ['post', 'hero'],
        data: function () {
            return { c: 0 }
        },
        template: '<div v-if="(post.ally == 1 && post.id != hero) || (post.ally != 1 && post.id == hero)">\
        <h4>Hero: {{ post.id }}</h4>\
        <h5>Total nodes activated: {{ c }}</h5>\
        <div>\
        UW: <select v-on:change="selUW(0 + post.id)" v-bind:id="0 + post.id">\
        <option value="">Please select</option>\
        <option v-for="(uw, star) in post.uw" v-bind:value="uw">{{star}} star: {{uw}}</option>\
        </select>\
        </div>\
        <div>\
        T5: <select v-on:change="selT5(5 + post.id)" v-bind:id="5 + post.id">\
        <option value="">None</option>\
        <option v-bind:value="post.t5[1]">Light: {{post.t5[1]}}</option>\
        <option v-bind:value="post.t5[2]">Dark: {{post.t5[2]}}</option>\
        </select>\
        </div>\
        <div v-for="(skill, skillno) in post.data" v-bind:key="skillno + post.id">\
        <h5>Skill: {{ skillno }}</h5>\
        <input type="checkbox" v-on:click="onClick(1 + skillno + post.id, skill[1])" value="skill[1]" v-bind:id="1 + skillno + post.id" v-bind:ref="1 + skillno + post.id">none: data is {{ skill[1] }}<br>\
        <input type="checkbox" v-on:click="onClick(2 + skillno + post.id, skill[2])" value="skill[2]" v-bind:id="2 + skillno + post.id" v-bind:ref="2 + skillno + post.id">light: data is {{ skill[2] }}<br>\
        <input type="checkbox" v-on:click="onClick(3 + skillno + post.id, skill[3])" value="skill[3]" v-bind:id="3 + skillno + post.id" v-bind:ref="3 + skillno + post.id">dark: data is {{ skill[3] }}<br>\
        <input type="checkbox" v-on:click="onClick(4 + skillno + post.id, skill[4])" value="skill[4]" v-bind:id="4 + skillno + post.id" v-bind:ref="4 + skillno + post.id">ut: data is {{ skill[4] }}\
        </div>\
        </div>',
        methods: {
            selUW: function(id){
                data = document.getElementById(id).value
                data = data.split(",")
                if(data[0] != ""){
                    this.$emit('selected', data, id)
                } else{
                    this.$emit('selected', [0,0,0], id)
                }
            },
            selT5: function(id){
                data = document.getElementById(id).value
                data = data.split(",")
                if(data[0] != ""){
                    this.$emit('selectedt5', data, id)
                } else{
                    this.$emit('selectedt5', [0,0,0], id)
                }
            },
            onClick: function(id, data) {
                if(document.getElementById(id).checked){
                    // for 2,3,4
                    if(id.charAt(0) == 2 || id.charAt(0) == 3 || id.charAt(0) == 4){
                        // check if 1 is checked, if yes then pass value up
                        parentid = 1 + id.substr(1)
                        if(document.getElementById(parentid).checked){
                            this.$emit('clicked', data)
                            return this.c++
                        } else{
                            // Prevent checked children before parent
                            document.getElementById(id).checked = false
                        }
                    }
                    // for 1
                    if(id.charAt(0) == 1){
                        // if checked pass value up
                        this.$emit('clicked', data)
                        // set others to unchecked
                        commonid = id.substr(1)
                        document.getElementById(2 + commonid).checked = false
                        document.getElementById(3 + commonid).checked = false
                        document.getElementById(4 + commonid).checked = false
                        return this.c++
                    }
                } else{
                    // for 2,3,4
                    if(id.charAt(0) == 2 || id.charAt(0) == 3 || id.charAt(0) == 4){
                        // check if 1 is checked, if yes then pass value up
                        parentid = 1 + id.substr(1)
                        if(document.getElementById(parentid).checked){
                            newdata = [-data[0], -data[1], -data[2]]
                            this.$emit('clicked', newdata)
                            return this.c--
                        } else{
                            // Prevent unchecked children before parent
                            document.getElementById(id).checked = true
                        }
                    }
                    // for 1
                    if(id.charAt(0) == 1){
                        // if unchecked pass value up
                        newdata = [-data[0], -data[1], -data[2]]
                        this.$emit('clicked', newdata)
                        // emit event to children if they are in checked state, uncheck all children
                        commonid = id.substr(1)
                        if(document.getElementById(2 + commonid).checked){
                            document.getElementById(id).checked = true
                            document.getElementById(2 + commonid).click()
                            document.getElementById(id).checked = false
                        }
                        if(document.getElementById(3 + commonid).checked){
                            document.getElementById(id).checked = true
                            document.getElementById(3 + commonid).click()
                            document.getElementById(id).checked = false
                        }
                        if(document.getElementById(4 + commonid).checked){
                            document.getElementById(id).checked = true
                            document.getElementById(4 + commonid).click()
                            document.getElementById(id).checked = false
                        }
                        return this.c--
                    }
                }
            }
        }
    })

    var skill = {
        "s1": { // 1: none, 2: light, 3: dark, 4: ut
            "1": [0, 10, 20],
            "2": [30, 40, 50],
            "3": [35, 45, 55],
            "4": [[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53]]
        },
        "s2": { // 1: none, 2: light, 3: dark, 4: ut
            "1": [0, 10, 20],
            "2": [30, 40, 50],
            "3": [35, 45, 55],
            "4": [[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53]]
        }
    }

    var skill2 = {
        "s1": { // 1: none, 2: light, 3: dark, 4: ut
            "1": [0, 10, 20],
            "2": [30, 40, 50],
            "3": [35, 45, 55],
            "4": [[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53]]
        },
        "s2": { // 1: none, 2: light, 3: dark, 4: ut
            "1": [0, 10, 20],
            "2": [30, 40, 50],
            "3": [35, 45, 55],
            "4": [[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53]]
        }
    }

    var skill3 = {
        "s1": { // 1: none, 2: light, 3: dark, 4: ut
            "1": [0, 10, 20],
            "2": [30, 40, 50],
            "3": [35, 45, 55],
            "4": [[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53]]
        },
        "s2": { // 1: none, 2: light, 3: dark, 4: ut
            "1": [0, 10, 20],
            "2": [30, 40, 50],
            "3": [35, 45, 55],
            "4": [[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53],[23, 43, 53]]
        }
    }

    var uw1 = [
        [10,20,30],
        [40,50,60],
        [70,80,90],
        [15,25,35],
        [51,52,53],
        [21,22,23]
    ]
    var uw2 = [
        [10,20,30],
        [40,50,60],
        [70,80,90],
        [15,25,35],
        [51,52,53],
        [21,22,23]
    ]
    var uw3 = [
        [10,20,30],
        [40,50,60],
        [70,80,90],
        [15,25,35],
        [51,52,53],
        [21,22,23]
    ]

    var t51 = { // 1: light, 2: dark
        "1": [12,15,16],
        "2": [2,5,6]
    }
    var t52 = { // 1: light, 2: dark
        "1": [12,15,16],
        "2": [2,5,6]
    }
    var t53 = { // 1: light, 2: dark
        "1": [12,15,16],
        "2": [2,5,6]
    }

    var app = new Vue({
        el: "#app",
        data: {
            atk: 0,
            cdmg: 0,
            fa: 0,
            hero: hash,
            uwtemp: {},
            t5temp: {},
            posts: [
                { ally: 0, id: 1, data: skill, uw: uw1, t5: t51 },
                { ally: 0, id: 2, data: skill2, uw: uw2, t5: t52 },
                { ally: 1, id: 3, data: skill3, uw: uw3, t5: t53 }
            ]
        },
        components: { post: post },
        methods: {
            reset: function(){
                window.location.href ="test.html#"+this.hero
                window.location.reload()
            },
            onClickChild: function(data) {
                // data is array of 3 elements [atk,cdmg,fa]
                this.atk = Number(this.atk) + Number(data[0])
                this.cdmg = Number(this.cdmg) + Number(data[1])
                this.fa = Number(this.fa) + Number(data[2])
            },
            onSelect: function(data, id) {
                // data is array of 3 elements [atk,cdmg,fa]
                if(this.uwtemp[id] != null){
                    uwforid = this.uwtemp[id]
                } else{
                    this.uwtemp[id] = [0,0,0]
                    uwforid = this.uwtemp[id]
                }
                this.atk = this.atk - uwforid[0]
                this.cdmg = this.cdmg - uwforid[1]
                this.fa = this.fa - uwforid[2]
                this.atk = Number(this.atk) + Number(data[0])
                this.cdmg = Number(this.cdmg) + Number(data[1])
                this.fa = Number(this.fa) + Number(data[2])
                this.uwtemp[id] = data
            },
            onSelectT5: function(data, id) {
                // data is array of 3 elements [atk,cdmg,fa]
                if(this.t5temp[id] != null){
                    t5forid = this.t5temp[id]
                } else{
                    this.t5temp[id] = [0,0,0]
                    t5forid = this.t5temp[id]
                }
                this.atk = this.atk - t5forid[0]
                this.cdmg = this.cdmg - t5forid[1]
                this.fa = this.fa - t5forid[2]
                this.atk = Number(this.atk) + Number(data[0])
                this.cdmg = Number(this.cdmg) + Number(data[1])
                this.fa = Number(this.fa) + Number(data[2])
                this.t5temp[id] = data
            }
        }
    })
</script>