<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Miracle - Soulstone Calculator</title>
    <meta name="description" content="Soulstones data and calculator">
    <meta name="author" content="sagiri">

    <!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">

    <!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">

    <!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="../images/favicon.png">

    <!-- Vue JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://unpkg.com/vue"></script>

    <style>
        .ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        .li {
            float: left;
        }
        
        .li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        /* Change the link color to #111 (black) on hover */
        
        .li a:hover {
            background-color: #111;
        }
        
        .active {
            background-color: #4CAF50;
        }
        
        .lowfrag {
            color: #67887d
        }
        
        .midfrag {
            color: #479d47
        }
        
        .highfrag {
            color: blue
        }
        
        .lowborder:focus {
            border-color: #67887d!important
        }
        
        .midborder:focus {
            border-color: #479d47!important
        }
        
        .highborder:focus {
            border-color: blue!important
        }
        
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -60px;
        }
        
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>

</head>

<body>
    <div class="nav-bar">
        <ul class="ul">
            <li class="li active"><a href="/data/index.html">Knowledge Base</a></li>
            <li class="li"><a href="../">Back</a></li>
        </ul>
    </div>
    <!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" id="app">
        <div class="row">
            <div class="four columns" style="margin-top:5%">
                <h4>Soulstone upgrade</h4>

                <ul>
                    <li>Tier: Low/Medium/High Frags (Cost)</li>
                    <li>T1: 10/0/0 (80k)</li>
                    <li>T2: 24/0/0 (200k)</li>
                    <li>T3: 40/1/0 (400k)</li>
                    <li>T4: 40/3/1 (700k)</li>
                    <li>T5: 40/4/2 (1m)</li>
                    <li>T6: 80/7/3 (1.4m)</li>
                    <li>T7: 80/8/4 (2m)</li>
                    <li>T8: 160/16/8 (2.7m)</li>
                    <li>T9: 240/24/16 (3.5m)</li>
                </ul>
                <ul>
                    <li>Conversion costs</li>
                    <li>Low to low: 10k (30k for opposing element)</li>
                    <li>Mid to mid: 80k (240k for opposing element)</li>
                    <li>10 Low to mid: 80k</li>
                    <li>10 Mid to high: 240k</li>
                </ul>
            </div>
            <div class="eight columns" style="margin-top:5%">
                <h4>Soulstone calculator</h4>
                <table class="u-full-width" id="calc">
                    <tbody>
                        <tr>
                            <td>From tier</td>
                            <td>
                                <select v-model="fromtier">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" style="color:green">4</option>
                                    <option value="5" style="color:green">5</option>
                                    <option value="6" style="color:green">6</option>
                                    <option value="7" style="color:blue">7</option>
                                    <option value="8" style="color:blue">8</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>To tier</td>
                            <td>
                                <select v-model="totier">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" style="color:green">4</option>
                                    <option value="5" style="color:green">5</option>
                                    <option value="6" style="color:green">6</option>
                                    <option value="7" style="color:blue">7</option>
                                    <option value="8" style="color:blue">8</option>
                                    <option value="9" style="color:blue">9</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="lowfrag">Low frags in inventory</td>
                            <td><input class="lowborder" type="number" v-model="lowi"></td>
                        </tr>
                        <tr>
                            <td class="midfrag">Mid frags in inventory</td>
                            <td><input class="midborder" type="number" v-model="midi"></td>
                        </tr>
                        <tr>
                            <td class="highfrag">High frags in inventory</td>
                            <td><input class="highborder" type="number" v-model="highi"></td>
                        </tr>
                        <tr>
                            <td class="lowfrag">Price of low frags</td>
                            <td><input class="lowborder" type="number" v-model="low"> <img src="../images/zenny.png"> </td>
                        </tr>
                        <tr>
                            <td class="midfrag">Price of mid frags</td>
                            <td><input class="midborder" type="number" v-model="mid"> <img src="../images/zenny.png"> </td>
                        </tr>
                        <tr>
                            <td class="highfrag">Price of high frags</td>
                            <td><input class="highborder" type="number" v-model="high"> <img src="../images/zenny.png"> </td>
                        </tr>
                        <tr>
                            <td>Lowest crafting cost</td>
                            <td><code>{{cost}} <img src="../images/zenny.png" style="height:60%;width:auto"></code> (
                                <code class="tooltip">{{cost - convert - craft}}<span class="tooltiptext">Fragments</span></code> + <code class="tooltip">{{craft}}<span class="tooltiptext">Crafting fee</span></code> + <code class="tooltip">{{convert}}<span class="tooltiptext">Conversion fee</span></code>)<br>
                                <br>Total frags needed: <span class="lowfrag">Low</span> = <code>{{lowr}}</code>, <span class="midfrag">Mid</span> = <code>{{midr}}</code>, <span class="highfrag">High</span> = <code>{{highr}}</code>
                                <br>To buy: <span class="lowfrag">Low</span> = <code>{{lowtb}}</code>, <span class="midfrag">Mid</span> = <code>{{midtb}}</code>, <span class="highfrag">High</span> = <code>{{hightb}}</code>
                                <br><br>Method: Convert <code>{{ltmcounter}}</code> <span class="lowfrag">low frags</span> to <span class="midfrag">mid frags</span>, then convert <code>{{mthcounter}}</code> <span class="midfrag">mid frags</span> to
                                <span class="highfrag">high frags</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
        </div>

        <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

        <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
    </div>

    <!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
        var t01l = 10;
        t01m = 0;
        t01h = 0;
        t01p = 80000;
        var t12l = 24;
        t12m = 0;
        t12h = 0;
        t12p = 200000;
        var t23l = 40;
        t23m = 1;
        t23h = 0;
        t23p = 400000;
        var t34l = 40;
        t34m = 3;
        t34h = 1;
        t34p = 700000;
        var t45l = 40;
        t45m = 4;
        t45h = 2;
        t45p = 1000000;
        var t56l = 80;
        t56m = 7;
        t56h = 3;
        t56p = 1400000;
        var t67l = 80;
        t67m = 8;
        t67h = 4;
        t67p = 2000000;
        var t78l = 160;
        t78m = 16;
        t78h = 8;
        t78p = 2700000;
        var t89l = 240;
        t89m = 24;
        t89h = 16;
        t89p = 3500000;
        var ltmc = 80000;
        mthc = 240000;
        array = [
            [t01l, t01m, t01h, t01p],
            [t12l, t12m, t12h, t12p],
            [t23l, t23m, t23h, t23p],
            [t34l, t34m, t34h, t34p],
            [t45l, t45m, t45h, t45p],
            [t56l, t56m, t56h, t56p],
            [t67l, t67m, t67h, t67p],
            [t78l, t78m, t78h, t78p],
            [t89l, t89m, t89h, t89p]
        ];

        var app = new Vue({
            el: '#app',
            data: {
                fromtier: 0,
                totier: 1,
                lowi: 0,
                midi: 0,
                highi: 0,
                low: 0,
                mid: 0,
                high: 0,
                lowtb: 0,
                midtb: 0,
                hightb: 0,
                craft: 0,
                convert: 0,
                mthcounter: 0,
                ltmcounter: 0,
                lowr: 0,
                midr: 0,
                highr: 0
            },
            computed: {
                cost: function() {
                    lowr = 0;
                    midr = 0;
                    highr = 0;
                    pricer = 0;
                    if (this.totier <= this.fromtier) {
                        this.pbeforeconv = 0;
                        return totalcost = 0;
                    }
                    var tt = this.totier - this.fromtier;
                    for (i = 0; i < tt; i++) {
                        index = Number(this.fromtier) + i;
                        lowr = lowr + array[index][0];
                        midr = midr + array[index][1];
                        highr = highr + array[index][2];
                        pricer = pricer + array[index][3];
                    }
                    this.lowr = lowr;
                    this.midr = midr;
                    this.highr = highr;

                    // Conversion logic
                    lex = 0;
                    mex = 0;
                    hex = 0;
                    p = 0;
                    mthcounter = 0;
                    ltmcounter = 0;
                    // Check any extras
                    if (this.highi > highr) {
                        h = 0;
                    } else {
                        h = highr - this.highi;
                    }
                    if (this.midi > midr) {
                        m = 0;
                        if (h != 0) {
                            mex = this.midi - midr;
                            if (this.high > mthc) {
                                minsetsof10 = Math.floor(mex / 10);
                                for (i = 0; i < minsetsof10; i++) {
                                    if (h <= 0) {
                                        break;
                                    }
                                    h = h - 1;
                                    p = p + mthc;
                                    mthcounter++;
                                }
                                if (mex % 10 != 0 && h != 0 && this.high > (mthc + (10 - (mex % 10)) * this.mid)) {
                                    mcom = (10 - (mex % 10));
                                    m = m + mcom;
                                    h = h - 1;
                                    p = p + mthc;
                                    mthcounter = mthcounter + mcom / 10;
                                }
                                if (h != 0 && this.high > (mthc + 10 * this.mid)) {
                                    mthcounter = mthcounter + h;
                                    m = m + h * 10;
                                    p = p + h * mthc;
                                    h = 0;
                                }
                            }
                        }
                    } else {
                        m = midr - this.midi
                        if (h != 0 && this.high > (mthc + 10 * this.mid)) {
                            mthcounter = mthcounter + h;
                            m = m + h * 10;
                            p = p + h * mthc;
                            h = 0;
                        }
                    }
                    if (this.lowi > lowr) {
                        l = 0;
                        if (m != 0) {
                            lex = this.lowi - lowr;
                            if (this.mid > ltmc) {
                                linsetsof10 = Math.floor(lex / 10);
                                ltmcounter = 0;
                                for (i = 0; i < linsetsof10; i++) {
                                    if (m <= 0) {
                                        break;
                                    }
                                    m = m - 1;
                                    p = p + ltmc;
                                    ltmcounter++;
                                }
                                if (lex % 10 != 0 && m != 0 && this.mid > (ltmc + (10 - (lex % 10)) * this.low)) {
                                    lcom = (10 - (lex % 10));
                                    l = l + lcom;
                                    m = m - 1;
                                    p = p + ltmc;
                                    ltmcounter = ltmcounter + lcom / 10;
                                }
                                if (m != 0 && this.mid > (ltmc + 10 * this.low)) {
                                    ltmcounter = ltmcounter + m;
                                    l = l + m * 10;
                                    p = p + m * ltmc;
                                    m = 0;
                                }
                            }
                        }
                    } else {
                        l = lowr - this.lowi;
                        if (m != 0 && this.mid > (ltmc + 10 * this.low)) {
                            ltmcounter = ltmcounter + m;
                            l = l + m * 10;
                            p = p + m * ltmc;
                            m = 0;
                        }
                    }

                    this.lowtb = l;
                    this.midtb = m;
                    this.hightb = h;
                    this.convert = p;
                    this.mthcounter = mthcounter * 10;
                    this.ltmcounter = ltmcounter * 10;
                    this.craft = pricer;
                    return totalcost = l * this.low + m * this.mid + h * this.high + pricer + p;
                }
            }
        })
    </script>
</body>

</html>